@model IEnumerable<BusinessObjects.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2 class="text-center text-uppercase fw-semibold mb-4  pb-2"> Product List</h2>


<p>
    <a class="btn btn-primary mb-4" asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 text-center shadow-sm">
                    <div class="card-header bg-success py-2"></div>
                    <img src="https://hangthanhlyhanoi.com/profiles/hangthanhlyhanoicom/uploads/attach/1415546367_20141031img0306.jpg" alt="Product Image" class="card-img-top p-3" style="height: 200px; object-fit: contain;">

                    <div class="card-body">
                        <h3 class="card-title fw-bold">@item.ProductName</h3>
                        <p class="text-primary fs-5 fw-bold">@item.UnitPrice?.ToString("0") VND</p>
                        <h5 class="card-title fw-bold text-warning">@item.UnitsInStock left</h5>
                        <h5 class="card-title fw-bold text-secondary">Type: @item.Category.CategoryName</h5>


                        <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-success w-100 mb-2">View Detail</a>
                        <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-purple w-100">Edit Product</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .btn-purple {
        background-color: #4B0082;
        color: white;
    }

        .btn-purple:hover {
            background-color: #5e22a3;
        }
</style>
