@page
@model ProductManagementRazorPages.Pages.CosmeticInformations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CosmeticInformation[0].CosmeticName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CosmeticInformation[0].SkinType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CosmeticInformation[0].ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CosmeticInformation[0].CosmeticSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CosmeticInformation[0].DollarPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CosmeticInformation[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CosmeticInformation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CosmeticName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkinType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CosmeticSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DollarPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CosmeticId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CosmeticId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CosmeticId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
