@page
@model ProductManagementRazorPages.Pages.CosmeticCategories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CosmeticCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CosmeticCategory.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CosmeticCategory.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CosmeticCategory.UsagePurpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CosmeticCategory.UsagePurpose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CosmeticCategory.FormulationType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CosmeticCategory.FormulationType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CosmeticCategory.CategoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
